@import '_fonts';
@import '_normalize';
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

/* Normalizes @font-face for Firefox, Opera and IE */
h1, h2, h3, h4 {
	font-weight: normal;
	font-style: normal;
}

a {
	color: #fff;
	text-decoration: none; 
	&:hover { color: #d6d6d6; }
	&:visited { color: #dadada; }
}

html {
	font-family: 'open_sansregular', Arial, sans-serif;letter-spacing: 0;
	text-align: center;
}

body {
	text-align: left;
	width: 40em;
	display: inline-block;
    background: #104012;
}

@media all and (min-width: 320px) {
  body {
  	width: 20em;
  }
}

@media all and (min-width: 480px) {
  body {
  	width: 30em;
  }
}

@media all and (min-width: 640px) {
  body {
  	width: 40em;
  }
}

h1{
	font-size: 1.4em;
	margin: 0;
}

h2, h3 {
	font-size: 1em;
	margin: 0;
}

ul {
	list-style: none;
}

header {
	padding-top: .3em; 
	padding-left: .6em;
	padding-right: .3em; 
}

.site-title {
	color: #7e7e7e;
	&:visited { color: #7e7e7e; }
	@include text-shadow(none);
}

#angles {
	margin: 0px auto;
	/*border-right: 4em solid transparent;
	border-left: 4em solid transparent;*/
	border-right: .5em solid transparent;
	border-left: .5em solid transparent;
	border-top: 5em solid #fff; 
	z-index: -1; 
	/*@include box-shadow(black 2px 2px 10px);*/
}

#main {
}

#banner {
	height: 4em;
	margin-top: -5.5em;
	/*padding-left: 4em;*/
	padding-left: .5em;
	padding-top: .7em;
}

.main-navigation {
	margin: 1em auto;
}

#content {
	margin: 0px auto;
	text-align: center;
}

.blog-index {
	display: inline-block;
	overflow: hidden;
}

article {
	color: #fff;
	position: relative;
	text-align: left;
	overflow: hidden;
	margin: .5em;
	/*border: 1em solid rgba(111, 111, 111, 0.9);*/
}

.lte-ie8 article {
	/*border: 1em solid #828282;*/
}

.article-home {
	float: left;
	width: 12.3333em;
	height: 12.3333em;
	background: #108a12;
	z-index: 0; 
	@include box-shadow(black .1em .1em .5em);
}

#square-back {
	position: absolute;
	top: 0;
	width: 12.3333em;
	height: 12.3333em;
	z-index: -1; 
}

.article-home a {
  @include text-shadow(rgba(black, .5) 1px 1px 2px);
}

@media all and (max-width: 640px) {
	article {
		margin: .5em;
	}
	.article-home {
		width: 9em;
		height: 9em;
	}
 	#square-back {
		width: 9em;
		height: 9em;
  	}
}

.meta {
	margin-top: .5em; 
	font-size: .5em;
}

.hentry {
	color: #000000;
	margin: .5em; 
	background: #ffffff;
}

.entry-content {
	margin: 1em;
}

.post a {
	color: #000000;
	&:visited { 
		color: #3b3b3b;
	}
}

.sidebar {
	margin-top: 1em; 
	background: #fff; 
	text-align: left;
	padding: 1em; 
}

footer {
	display: none;
	margin: 0px auto;
	text-align: center; 
	background: #FFF; 
	p {
		font-size: .5em;
	}
}
