@font-face {
    font-family: 'weblysleek_uilight';
    src: url('/fonts/weblysleekuil.woff') format('woff'),
         url('/fonts/weblysleekuil.ttf') format('truetype');
}

html {
	overflow: hidden;
	position: relative;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
    font-family: "weblysleek_uilight", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    left: 50%;
    color: #fff;
    background: url('/images/max.png');
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: auto 100%;
    background-position: center;
    width: 100%;
    max-width: calc(2.18780251694095 * 100vh);
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}

nav {
	position: absolute;
	top: 24%;
	margin-left: -50%;
	h1 { 
		margin: 0;
		color: #374e1c; 
		background-color: #fff;
		font-size: 6vh;
		padding-left: 1.5vh;
		padding-right: 1.5vh;
		line-height: 9vh;
	}
	ul {
		list-style: none;
		padding-left: 6vh;
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
	a {
		font-size: 4.5vh;
		color: #fff;
		text-decoration: none;
		-webkit-font-smoothing: antialiased;
	}
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
